<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Athi Xerox</title>
    <link rel="stylesheet" href="dasboard_styles.css">
</head>
<body>
    <form>
        <div class="container">
            <ul>
                <li><img src="https://www.caddinfotech.in/images/logo-new.png" /></li>
                <li><a href="#">Home</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Map</a></li>
                <li><a href="#">Sign/signup</a></li>
            </ul>
        </div>
    </form>
    <form>
        <div class="image">
            <img src="https://img.freepik.com/free-photo/office-printer-documents-productivity-tools_157027-4121.jpg?t=st=1712986896~exp=1712990496~hmac=728af983ca9ddd3e27a9d9b1e16d5fcf04668aad0ec6b2e507df2579f36655b9&w=1380" />
            <img src="https://img.freepik.com/free-photo/office-printer-documents-productivity-tools_157027-4486.jpg?t=st=1712986917~exp=1712990517~hmac=e04e46839f719498004847ebec109375c26b4c75af29c11b020de9bb1e074a12&w=1380" />
        </div>
    </form>
</body>
</html>