<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="login_style.css">
    <link rel="icon" type="image/x-icon"
        href="https://static-00.iconduck.com/assets.00/user-icon-1024x1024-dtzturco.png">
</head>

<body>
    <form>
        <div class="login">
            <img src="https://www.caddinfotech.in/images/logo-new.png" />
            <label>Email</label>
            <input type="text" placeholder="Enter the Email" />
            <label>Username</label>
            <input type="text" placeholder="Enter the Username" />
            <label>Password</label>
            <input type="password" placeholder="Enter the New Password" />
            <input type="password" placeholder="Re Enter the Password" />
            <button type="submit">Sign Up</button>
        </div>
    </form>
</body>

</html>